:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #b85328 !important;
  --button-primary-bgcolor: #b85328 !important;
  --button-primary-hover-bgcolor: #b85328 !important;
  --button-primary-active-bgcolor: #b85328 !important;
  --in-content-primary-button-background: #b85328 !important;
  --in-content-primary-button-background-hover: #b85328 !important;
  --in-content-primary-button-background-active: #b85328 !important;
  --input-border-color: #b85328 !important;
  --uc-checkbox-checked-bgcolor: #b85328 !important;
  --checkbox-checked-bgcolor: #b85328 !important;
  --focus-outline-color: #b85328 !important;
  --in-content-link-color: #b85328 !important;
}

/*  Clean and tight extensions menu */
#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions {
    display:none !important;
}

#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton{
    visibility: hidden !important;
    transition: 300ms !important;
    -moz-margin-end: -3.6em !important;
}

#unified-extensions-view .panel-subview-body {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#unified-extensions-view:hover 
.unified-extensions-item-menu-button.subviewbutton{ 
    visibility: visible !important;
    transition: 300ms !important;
    -moz-margin-end: initial !important;
}

#unified-extensions-view .unified-extensions-item-icon, 
#unified-extensions-view .unified-extensions-item[unified-extensions="true"] .webextension-browser-action 
> .toolbarbutton-badge-stack > .toolbarbutton-icon {
    height: 20px !important;
    width: 20px !important;
}

#unified-extensions-view .unified-extensions-item-icon, 
#unified-extensions-view .unified-extensions-item[unified-extensions="true"] .webextension-browser-action > .toolbarbutton-badge-stack {
  margin-inline-end: 2px !important;
}

#unified-extensions-view .unified-extensions-item-name, 
#unified-extensions-view .unified-extensions-item-message {
    padding-inline-start: 0.5em !important;
    width: 21em !important;
}

#unified-extensions-view .unified-extensions-item-action-button.subviewbutton {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/*  Devtools  */
.devtools-horizontal-splitter {
  margin-top: 7px !important;
  margin-bottom: -12px !important;
  opacity: 0;
}
.devtools-side-splitter {
  opacity: 0;
}
.devtools-toolbox-side-iframe {
  margin-top: -10px;
  border-radius: 10px;
}

#customization-panelWrapper {
  max-width: 30em !important;
} /*  Fixes the customization page  */
#customization-container > * {
  margin-top: -10px;
  background-color: var(--toolbar-field-background-color) !important;
} /*  Customizes the customization page  */

#urlbar:not([open]) {
  color: currentColor !important;
}
#urlbar[open] {
  color: var(--toolbar-field-focus-color);
} /*  Fixes the urlbar color on some themes  */

#historySwipeAnimationPreviousArrow,
#historySwipeAnimationNextArrow {
  --swipe-nav-icon-primary-color: #fcc2a3 !important;
  --swipe-nav-icon-accent-color: #ffffff !important;
}
@media (-moz-content-prefers-color-scheme: dark) {
  #historySwipeAnimationPreviousArrow,
  #historySwipeAnimationNextArrow {
    --swipe-nav-icon-primary-color: #fcc2a3 !important;
    --swipe-nav-icon-accent-color: #000000 !important;
  }
}

.tab-close-button {
  display: none !important;
}

.tabbrowser-tab {
  transition: min-width 0.4s cubic-bezier(0.27, 0.91, 0.435, 1),
    max-width 0.4s cubic-bezier(0.27, 0.91, 0.435, 1) !important;
  &[selected] {
    min-width: 250px !important;
  }
  &[selected] .tab-close-button {
    display: inline !important;
  }
}

.tabbrowser-tab:hover .tab-close-button {
  display: block !important;
}

menupopup:not(.in-menulist){
  --panel-background: #282828 !important;
  --panel-border-color: #282828 !important;
}
