@import url("devtools.css");

:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #f7a083 !important;
  --button-primary-bgcolor: #f7a083 !important;
  --button-primary-hover-bgcolor: #f7a083 !important;
  --button-primary-active-bgcolor: #f7a083 !important;
  --in-content-primary-button-background: #f7a083 !important;
  --in-content-primary-button-background-hover: #f7a083 !important;
  --in-content-primary-button-background-active: #f7a083 !important;
  --input-border-color: #f7a083 !important;
  --uc-checkbox-checked-bgcolor: #f7a083 !important;
  --checkbox-checked-bgcolor: #f7a083 !important;
  --focus-outline-color: #f7a083 !important;
  --in-content-link-color: #f7a083 !important;
  --color-accent-primary: #f7a083 !important;
  --color-accent-primary-active: #f7a083 !important;
  --newtab-primary-action-background: #f7a083 !important;
}

@-moz-document url("about:home"), url("about:newtab") {
  * {
    font-family: "Monocraft" !important; /*  Font  */
    font-weight: normal !important;
  }

  body {
    /*background: linear-gradient(
      -45deg,
      #472952,
      #68261c,
      #212121,
      #212121,
      #212121
    ) !important;*/ /*  Background gradient  */
    background-color: #212121 !important; /*  Background color  */
  }

  .search-handoff-button {
    transition: all 0.5s ease;
    /* background-color: #353535 !important; */
    background: #353535 url("./img/ducky3.png") 10px center no-repeat !important;
    border-radius: 0% !important;
    background-color: #212121 !important;
    box-shadow: 0px 0px 0px 0px #212121 !important;
    border-bottom: 3px #353535 solid !important;
  }

  .search-handoff-button:hover,
  .search-handoff-button:active,
  .search-handoff-button:focus {
    transition: all 0.5s ease;
    background-color: #ff3b43 !important;
    filter: drop-shadow(15px 15px #8d50f4) !important;
    border-bottom: 3px #ff3b43 solid !important;
  }

  .top-site-outer .tile,
  .top-site-outer .top-site-icon {
    background-color: #353535 !important;
  }

  .weatherCard:hover {
    background-color: #2a2a2a !important;
  }

  .customize-menu {
    background-color: #514c4c !important;
    border-radius: 5px 0 0 5px !important;
  }

  .customize-menu .close-button-wrapper {
    background-color: transparent !important;
  }

  .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    background-color: transparent !important;
  }

  .top-sites-list:not(.dnd-active)
    .top-site-outer:is(.active, :focus, :hover)
    .tile {
    filter: drop-shadow(10px 10px #ff3b43) !important;
    transform: translate(-10px, -10px) !important;
    transition: all 0.5s ease !important;
  }

  .top-sites-list .top-site-outer .tile {
    filter: drop-shadow(0 0 #ff3b43) !important;
    transform: translate(0, 0) !important;
    transition: all 0.5s ease !important;
  }

  .top-site-outer .context-menu-button {
    background-color: transparent !important;
  }

  .weatherCard,
  .weatherInfoLink,
  .weatherButtonContextMenu {
    transition: background-color 0.3s ease !important;
  }

  .card,
  .compact-cards .card-outer .card-context {
    background-color: #353535 !important;
  }

  .card:hover {
    filter: drop-shadow(10px 10px #8d50f4) !important;
    transform: translate(-10px, -10px) !important;
    transition: all 0.5s ease !important;
  }

  .card {
    filter: drop-shadow(0 0 #8d50f4) !important;
    transform: translate(0, 0) !important;
    transition: all 0.5s ease !important;
    border-radius: 0px !important;
  }

  .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
    color: white !important;
  }

  .context-menu {
    background-color: #4b4b4b !important;
    border-radius: 0 !important;
    box-shadow: #131313 -4px 4px 4px 0px !important;
  }

  .card-outer .context-menu-button {
    border-radius: 0px !important;
  }

  .logo {
    width: 2300px !important;
    background: url("./img/firefox-logo-pixel.png") no-repeat center !important;
    zoom: 2.4% !important;
    height: 2300px !important;
  }

  .logo-and-wordmark .wordmark {
    width: 200px !important;
    background: url("./img/firefox-text.svg") no-repeat center !important;
  }

  .top-site-outer .tile {
    background-color: #212121 !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px 0px #212121 !important;
  }

  .top-site-outer .tile,
  .top-site-outer .top-site-icon {
    background-color: #212121 !important;
  }
}
