:root,
panel,
dialog,
window {
  --lwt-toolbarbutton-icon-fill-attention: #b85328 !important;
  --button-primary-bgcolor: #b85328 !important;
  --button-primary-hover-bgcolor: #b85328 !important;
  --button-primary-active-bgcolor: #b85328 !important;
  --in-content-primary-button-background: #b85328 !important;
  --in-content-primary-button-background-hover: #b85328 !important;
  --in-content-primary-button-background-active: #b85328 !important;
  --input-border-color: #b85328 !important;
  --uc-checkbox-checked-bgcolor: #b85328 !important;
  --checkbox-checked-bgcolor: #b85328 !important;
  --focus-outline-color: #b85328 !important;
  --in-content-link-color: #b85328 !important;
}

/*  Devtools  */
.devtools-horizontal-splitter {
  margin-top: 7px !important;
  margin-bottom: -12px !important;
  opacity: 0;
}
.devtools-side-splitter {
  opacity: 0;
}
.devtools-toolbox-side-iframe {
  margin-top: -10px;
  border-radius: 10px;
}

#customization-panelWrapper {
  max-width: 30em !important;
} /*  Fixes the customization page  */
#customization-container > * {
  margin-top: -10px;
  background-color: var(--toolbar-field-background-color) !important;
} /*  Customizes the customization page  */

#urlbar:not([open]) {
  color: currentColor !important;
}
#urlbar[open] {
  color: var(--toolbar-field-focus-color);
} /*  Fixes the urlbar color on some themes  */
